/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.active-link {
  color: #3F51B5 !important;
  background-color: #DCDCDC !important;
}

.app-content {
  margin: 16px;
}

.app-sidenav {
  min-width: 240px;
}

/* Menu bar styles */

.menu-bar-item-menu {
  &.menu-bar-item-menu--dense {
    width: 320px;
    min-height: 48px;
    .mat-mdc-menu-item {
      min-height: 32px;
      line-height: 32px;
    }
  }
  mat-icon {
    min-width: 24px;
  }

  .mat-mdc-menu-item .mdc-list-item__primary-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .menu-bar-item-menu-item--command {
      margin-left: 20px;
    }
  }
  mat-divider {
    margin: 8px 0;
  }
}

.flex-spacer {
  flex-grow: 1;
}
