<p>Welcome to the demo app!</p>

<p>You can view the list of demos in the sidenav or as listed below:</p>

<mat-nav-list>
  <a mat-list-item *ngFor="let demo of demosService.demos" [routerLink]="['/demos', demo.id]">
    <mat-icon matListItemIcon *ngIf="!demo.icon && !demo.svgIcon">play_circle_fill</mat-icon>
    <mat-icon matListItemIcon *ngIf="demo.icon && !demo.svgIcon">{{ demo.icon }}</mat-icon>
    <mat-icon matListItemIcon *ngIf="!demo.icon && demo.svgIcon" [svgIcon]="demo.svgIcon"></mat-icon>
    <span matListItemTitle>{{ demo.title }}</span>
  </a>
</mat-nav-list>
